@model DataListPartialModel

@inject IViewLocalizer Localizer


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Localizer["Note List"]</h3>
                @if (Model.Member == Member.Owner)
                {
                    <a class="btn btn-xs btn-success pull-right" data-action="add-note" data-type="modal">
                        <i class="fa fa-file-text-o"></i>&nbsp;@Localizer["Add Note"]
                    </a>
                }
                
            </div>
            <div class="box-body table-responsive">
                <table class="table table-striped notelist">
                    <thead class="table-header">
                        <tr>
                            <th>@Localizer["Name"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Script(
    @<script>
        var table = $(".notelist").DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "ajax": {
                "url": "/user-notes?userId=@Model.ID",
                "type": "POST"
            },
            "columns": [
                { "data": "name" }
            ],
            "language": {
                "searchPlaceholder":"@Localizer["Search note name"]"
            }
        });
    </script>
)

