@model NavigationModel

@inject IViewLocalizer Localizer

<ul class="nav nav-tabs">
    <li @(Model.List == "Notes" ? "class=active" : "")><a href="/@Model.ID/folder-detail"><i class="fa fa-newspaper-o"></i>&nbsp;@Localizer["Notes"]</a></li>
</ul>
