@model string

@inject IViewLocalizer Localizer

<link href="/adminlte/components/animated-calendar/simple-calendar.css" rel="stylesheet" />

<div id="calendar" style="width: 100%;"></div>


<script>
    
</script>